/* Colors of things */
body { background-color:#402718 } 
ul.tabs { background-color:#402718 } 
#app h2 { color: #AEBC5D } 
a, a:visited { color: #AEBC5D } 
.set.odd { background-color: #605d50 } 
.set.even { background-color: #6B6759 } 

/* Typography */
body { font-family: Arial, Helvetica, sans-serif; color: #fff } 
#app h2 { font-family: Arial, Helvetica, sans-serif } 
.info-window h1.venue-name { font-size: 1.2em }
.set .band { font-size: 1.2em }
.set .start-time, .set .end-time { font-size: 1em }
    
/* Give container elements types to make Google Maps happy */
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
.container { height: 100% }
#app { height: 100%; padding-top: 4.5em; }
#about { padding-top: 4.5em }
#map_canvas { height: 100% }

ul.tabs { position: fixed; top: 0; padding-top: 2em }

.set { padding: 1em }
.set .start-time { float: left }
.set .time-sep { float: left }
